{% extends 'header.html' %}

{% block content %}
<div class="sidebar">
        <div class="sidebar-header">展示国际合作</div>
        <ul class="sidebar-menu">
            <li class="menu-item">
                国际合作项目信息 
            </li>

        </ul>
</div>

<div class="main-content">
    <h3>国际合作项目信息 </h3>
    <hr class="sep-line">

        <div class="teacher-card">
            <img class="teacher-photo" src="../../static/images/universities/miandian.jpg">
            <div class="teacher-information">
                <h3>缅甸国立大学</h3>
                <span>所属国家:缅甸</span>
                <br>
                <span>合作项目:人工智能</span>
                <br>
                <span>开始时间:2025/07/12</span>
                <br>
                <span>结束时间时间:2026/05/12</span>
                <br>
                <hr class="teacher-line">
            </div>
        </div>

        <div class="teacher-card">
            <img class="teacher-photo" src="../../static/images/universities/tokyo.jpg">
            <div class="teacher-information">
                <h3>东京大学</h3>
                <span>所属国家:日本</span>
                <br>
                <span>合作项目:自动化</span>
                <br>
                <span>开始时间:2026/04/22</span>
                <br>
                <span>结束时间时间:2027/05/12</span>
                <br>
                <hr class="teacher-line">
            </div>
        </div>

        <div class="teacher-card">
            <img class="teacher-photo" src="../../static/images/universities/stanford.png">
            <div class="teacher-information">
                <h3>斯坦福大学</h3>
                <span>所属国家:美国</span>
                <br>
                <span>合作项目:软件工程</span>
                <br>
                <span>开始时间:2025/02/12</span>
                <br>
                <span>结束时间时间:2026/05/12</span>
                <br>
                <hr class="teacher-line">
            </div>
        </div>
{% endblock %}